body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

#header{
  margin: 20px 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo_header{
  color:#27bca7;
  /* font-size: 40px; */
}